<!-- Modal Ver Materia -->
<div class="modal fade" id="modal-ver-materia" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de Materia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Nombre:</h6>
                        <p id="ver-nombre-materia">-</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>Descripción:</h6>
                        <p id="ver-descripcion-materia">-</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>Estado:</h6>
                        <p id="ver-estado-materia">-</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
