/* Estilos para el modal de eliminar contenido */
.modal-eliminar-contenido {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content-eliminar {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #d32f2f;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
}